# Build
**/bin/
**/obj/

# IDE
**/.idea/
**/*.sln.DotSettings.user
**/.vs/

# Docker local overrides
**/docker-compose.override.yml

# TestResults
**/test-results/

# Python
**/.venv/
**/__pycache__/
**/*.pyc

# Generated code
**/generated/

# secret environment variables
**/*.env
**/.env*
**/.env
**/*secret*
**/secrets/*
