# Trip Planner DB
TRIP_PLANNER_POSTGRES_DB=trip-planner
TRIP_PLANNER_POSTGRES_USER=pullapp
TRIP_PLANNER_POSTGRES_PASSWORD=changeme

# Accounts DB
ACCOUNTS_POSTGRES_DB=accounts
ACCOUNTS_POSTGRES_USER=pullapp
ACCOUNTS_POSTGRES_PASSWORD=changeme

# Notifications DB
NOTIFICATIONS_POSTGRES_DB=notifications
NOTIFICATIONS_POSTGRES_USER=pullapp
NOTIFICATIONS_POSTGRES_PASSWORD=changeme

# Trip Cache (shared: trip-planner + route-calc)
TRIP_REDIS_PASSWORD=changeme

# Driver Tracker Cache
DRIVER_TRACKER_REDIS_PASSWORD=changeme

# Notifications Cache
NOTIFICATIONS_REDIS_PASSWORD=changeme

# Compute Queue (RabbitMQ)
RABBITMQ_USER=pullapp
RABBITMQ_PASS=changeme

# Chat DB (MongoDB)
CHAT_MONGO_USER=pullapp
CHAT_MONGO_PASSWORD=changeme
CHAT_MONGO_DB=chat
